.typeView {
    display: flex;
    padding: 10px 0;
    /* flex-direction: row; */
    /* width: 100%; */
}

.typeView .type {
    text-align: left;
    flex-grow: 1;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    
}

.reactIcons {
    vertical-align: middle;
    margin: 0 auto
}

.image {
    width: 10%;
    margin-right: 10px;
}